<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   <title>Home | SPEAKEASY</title>
   <link rel="stylesheet" href="../static/assets/base.css">
   <link rel="stylesheet" href="../static/assets/main.css">
   <link rel="stylesheet" href="../static/assets/vendor.css">
   <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
   <script src="../static/assets/modernizr.js"></script>
   <script src="../static/assets/pace.min.js"></script>
   <script src="../static/assets/language.js"defer></script>
</head>

<body id="top">

   <header>
      <div class="">
         <div class="bar">
            <a class="menu-toggle" href="#"><span>Menu</span></a>
            <nav id="main-nav-wrap">
               <ul class="main-navigation">
                  <li class="current"><a class="smoothscroll" href="#intro" title="">Home</a></li>
               </ul>
            </nav>
         </div>
      </div>
   </header>

   <!-- Fixed drop-down on the right side -->
   <div class="fixed-dropdown">
      <button class="dropdown-btn" id="languageBtn">Select Language</button>
      <div class="dropdown-content">
         <a href="#" onclick="changeLanguage('english')">English</a>
         <a href="#" onclick="changeLanguage('french')">French</a>
         <a href="#" onclick="changeLanguage('swahili')">Swahili</a>
      </div>
   </div>

   <!-- intro section ================================================== -->
   <section id="intro">
      <div class="intro-overlay"></div>
      <div class="intro-content">
         <div class="row">
            <div class="col-twelve">
               <h2 id="welcomeText1" style="color:#fff;">WELCOME TO SPEAKEASY</h2>
               <h3 style="color:#fff; font-size: 30px;" id="projectText">Project: English-French Translator</h3>
               <p class="intro-position">
                  <span>Bildad Otieno</span>
               </p>
               <a href="/home">
                  <button id = "connectButton" style="
                     background-color: #237D7A;
                     color: #fff;
                     border: none;
                     border-radius: 5px;
                     font-family: 'Josefin Sans',sans-serif;
                     cursor: pointer;
                     font-size: 16px;
                     transition: background-color 0.3s ease;">Connect With Friends</button>
               </a>
            </div>
         </div>
      </div>
   </section>

   <!-- footer ================================================== -->
   <footer style="margin-top: 50px;">
      <div class="row">
         <div class="col-six tab-full pull-right social">
         </div>
         <div class="col-six tab-full">
            <div class="copyright">
               <span>© Copyright 2024 </span>
            </div>
         </div>
         <div id="go-top">
            <a class="smoothscroll" title="Back to Top" href="#top"><i class="fa fa-long-arrow-up"></i></a>
         </div>
      </div>
   </footer>

   <div id="preloader">
      <div id="loader"></div>
   </div>

   <script src="../static/assets/jquery-2.1.3.min.js"></script>
   <script src="../static/assets/plugins.js"></script>
   <script src="../static/assets/main.js"></script>

</body>

</html>
